<div class="search-form mt-4">
	<form method="POST" action="">
		<div class="form-group">
			<label for="search-input">Nhập từ khóa</label>
			<input
				type="text"
				name="q"
				class="form-control"
				id="search-input"
				placeholder="Nhâp từ khóa..."
			/>
		</div>

		<button type="submit" class="btn btn-primary">Tìm kiếm</button>
	</form>
</div>